.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .mainContent {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  
  .navBar {
    width: 100%; /* Make sure the navbar takes up the full width */
  }